/*Fuente de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #EDEDED;
    --secondary-color: #0B253E;
    --red-color: #8D0801;
    --lightRed-color: #BF0603;
}

/*Reseteo de valores*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/*Estilos generales*/
body{
    
    color: var(--secondary-color);
    
}


h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.7rem;
}

p{
    font-size: 1.5rem;
    font-weight: 500;
}

a{
    text-decoration: none; 
    color: var(--secondary-color);
    font-size: 1.25rem;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-family: inherit;
    transition: all 0.3s ease;
}

/*clases*/

/*------------INDEX PAGE ----------------------*/

.header{
    background-color: #F5F5F5;
    box-shadow: 0px 4px 6px 0px rgba(60, 60, 60, 0.361);
    height: 12vh;
    position: sticky;
    top: 0;
        nav{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 6rem;
            .company-name{
                display: flex;
                i{
                    margin-left: 3px;
                    margin-top: 3.5px; 
                }
              
            }
            ul{
                list-style: none;
                display: flex;
                column-gap: 20px;
                font-weight: 500;
                li{
                    padding: 0.5rem;
                }
            }
           
        }
}

.first-section{
    display: flex;
    align-items: center;
    div{
        margin-left: 6rem;
        margin-right: 5rem;
        h1{
            margin-bottom: 1.5rem;
        }
        p{
            margin-bottom: 2rem; 
        }
        button{
            font-size: 1.5rem;
            padding-right: 3rem;
            padding-left: 3rem;
        }   
    }
    img{
        width: 50%;
        height: 50%;
    }
}

.numbers-section{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 25vh;
    ul{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        li{
            text-align: center;
            div{
                display: flex;
                
            }
        }
      
    }
}

.about-section{
    .sub-title{
        text-align: center;
        font-weight: 600;
        padding: 80px 0 0 10px;
        font-size: 2.5rem;
    }
    .square-section{
        background-color: var(--primary-color);
        display: flex;
        margin: 7rem 6rem;
        box-shadow: 0px 4px 6px 0px rgba(60, 60, 60, 0.361);
        border-radius: 16px;
        align-items: center;
        .box{
            margin-left: 5rem;
            margin-right: 5rem;
            h2{
                margin-bottom: 1rem;
            }
        }
        img{
            width: 50%;
        }
    } 
}

.keys{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.featured-section{
    width: 95%;
    /*border: 2px solid rgb(203, 67, 90);*/
    margin: 0 auto;
    margin-bottom: 2.5rem;
    
        h2{
            text-align: center;
            margin-bottom: 2rem;
        }
        .galery-p{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            /*border: 2px solid rgb(0, 234, 255);*/
            .property{
                /*border: 2px solid rgb(18, 232, 114);*/
                width: 370px;
                height: 500px;
                border-radius: 15px;
                margin-bottom: 2rem;
                padding-bottom: 2rem;
                background-color: var(--primary-color);
                box-shadow: 0px 4px 4px 0px rgba(60, 60, 60, 0.58);

                    p{
                        font-size: 1rem;
                    }

                    img{
                        width: 100%;
                        height: 80%;
                        /*border: 2px solid rgb(203, 67, 90);*/
                    }

                    .info{
                        /*border: 2px solid blue;*/
                        margin-top: 0.5rem;
                         .location{
                            display: flex;
                            align-items: center;
                           /* border: 2px solid black;*/
                            column-gap: 5px;
                            padding-left: 1.9rem;
                         }
                    
                            .prop-details{
                                display: flex;
                                justify-content: space-evenly;
                                margin: 0.5rem 0;
                                /*border: 2px solid black;*/

                                .r-b-m{
                                    display: flex;
                                    column-gap: 5px;
                                }
                            }
                            .price-and-button{
                                display: flex;
                                justify-content: space-evenly;
                                align-items: center;
                                font-size: 2rem;
                                /*border: 2px solid purple;*/
                                
                            }
                    }

            } 
        }
        .show-more{
            /*border: 2px solid orange;*/
            justify-content: center;
            display: flex;
        }
        
}

.footer{
    height: 10vh;
    background-color: var(--red-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;
    p{
        font-size: 1rem;
        font-weight: 400;
    }
    div{
        column-gap: 20px;
        i{
            color: var(--primary-color);
            font-size: 2rem;
            margin-right: 15px;
        }
    }
   
}

/*----------------LOG IN PAGE---------------------*/
.main-login{
    background-color: var(--primary-color);
}
.login-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;    
    justify-content: center;
    .cont{
        background-color: #F5F5F5;
        box-shadow: 0px 3px 6px 3px rgba(158, 158, 158, 0.75);
        width: 40%;
        height: 75vh;
        text-align: center;
        padding: 2rem 0;
        .login{
            font-size: 2rem;
        }
        .div-inputs{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            width: 100%;
      
            input{
                padding: 1rem 2rem;
                border-radius: 10px;
                border: 2px solid #00142786;
                font-size: 1.2rem;
                font-weight: 500;
                width: 60%;
                margin-bottom: 1rem;
            }
            .login-button{
                font-size: 1.2rem;
                font-weight: 600;
                color: var(--primary-color);
                background-color: var(--secondary-color);
                padding: 1rem 2rem;
                width: 60%;
                border-radius: 10px;
                margin-bottom: 2rem;
            }
            .login-button:hover{
                background-color: #15416d;
            }
            h3{
                font-size: 1.1rem;
                margin-bottom: 2rem;
                font-weight: 400;
                margin: 0 7rem;
                u{
                    color: var(--red-color);
                    font-weight: 700;
                    font-size: 1.1rem;
                }
            }
            p{
                font-size: 1rem;
                margin: 0 7rem;
                margin-top: 4rem;
            }
            
        }

    }
}

/*----------------DETAILS PAGE--------------------*/
.img-container{
    background-color: #8D0801;
    width: 640;
    height: 550px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.grey-container{
    background-color: #EDEDED;
    box-shadow: 0px 4px 6px 0px rgba(60, 60, 60, 0.361);
    padding: 2rem 6rem;
    margin: 3rem auto;
    border-radius: 20px;
    width: 87%;
    div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
    ul{
        margin-left: 2rem;
        li{
            font-size: 1.3rem;
        }
    }
}


/*OTHER STYLES*/
.red-button{
    background-color: var(--lightRed-color);
    color: var(--primary-color);
    padding: 0.7rem 1.5rem;
    border-radius: 16px;
    font-weight: 600;
    cursor: pointer;
}

.button-blue{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem 4.5rem;
    border-radius: 44px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margin-bottom1{
    margin-bottom: 1rem;

}

.hover-red-b:hover{
    background-color: #d12a27;
}

.hover-blue-b:hover{
    background-color: #15416d;
}

.hover-light-red:hover{
    background-color: #c7c7dda1;
    border-radius: 10px;
    
}

/*Modificando icono*/
.fa-solid{
    color: var(--secondary-color);
}

.fa-star{
    font-size: 2rem;
    padding-top: 0.7rem;
    margin-right: 13px;
}

.fa-house{
    padding-top: 0.3rem;
}

/*Media Queries mobile phone*/
@media screen and (max-width: 768px){

    /*INDEX PAGE*/
    .header{
        nav{
            padding: 0 2rem;
            flex-direction: row;
            .hide{
                display: none;
            }
            .company-name{
                h3{
                    font-size: 1.5rem;
                }
                
                i{
                    display: none;
                }
            }
            ul{
                font-size: 1rem;
                column-gap: 10px;
            }
        }

    }

    /*FIRST SECTION - index*/
    .first-section{
       flex-direction: column-reverse;
       text-align: center;
        div{
            
            margin: 1rem 2rem;
            h1{
                font-size: 2.5rem;
                margin-bottom: 1rem; 
            }
            p{
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
            button{
                font-size: 1.2rem;
                padding-right: 2rem;
                padding-left: 2rem;
                margin-bottom: 1rem;
            }   
        }
        img{
            width: 100%;
            height: 100%;
        }
    }

    /*NUMBERS SECTION - index*/
    .numbers-section{
        ul{
            li{
                margin: 1rem 0;
                h2{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1rem;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

            }
            i{
                display: none;
            }
        }
    }

    .about-section{
        .sub-title{
            font-size:1.5rem;
            padding: 1.5rem;
            margin-top: 1rem;
        }
        .square-section{
            flex-direction: column;
            margin: 2rem auto;
            width: 80%;
            .box{
                margin: 1rem 1rem;
                h2{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1rem;
                }
            }
            img{
                width: 100%;
            }
        }
    }

    .keys{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16PX;
    }

    .featured-section{
        width: 80%;
        h2{
            font-size: 2rem;
        }
        .location{
            padding-left: 0;
        
        }
    }

    .footer{
        padding: 0 2rem;
        div{
            column-gap: 10px;
            i{
                font-size: 1.5rem;
            }
        }
    }

    /*LOGIN PAGE*/
    .login-container{
        .cont{
            width: 80%;
            height: 70vh;
            .login{
                font-size: 1.5rem;
            }
            .div-inputs{
                input{
                    padding: 1rem 1.5rem;
                    font-size: 1rem;
                    width: 80%;
                }
                .login-button{
                    font-size: 1rem;
                    padding: 1rem 1.5rem;
                    width: 80%;
                }
                h3{
                    font-size: 1rem;
                    margin: 0rem 2.5rem;
                    u{
                        font-size: 1rem;
                    }
                }
                p{
                    font-size: 0.9rem;
                    margin: 0 2rem;
                    margin-top: 4rem;
                }
            }
        }

    }

    /*DETAILS PAGE*/
    .grey-container{
        padding: 2rem 2rem;
        margin: 2rem auto;
        width: 85%;
        div{
            flex-direction: column;
            align-items: flex-start;
        }
        h2{
            font-size: 1.5rem;
            margin-bottom: 0.5rem; 
        }
        
        h2{
            font-size: 1.5rem;
            margin-bottom: 0.5rem; 
        }
        
        h3{
            font-size: 1rem;
            margin-left: 0;
        }
        p{
            font-size: 1rem;
        }
        ul{
            margin-left: 1rem;
            li{
                font-size: 1rem;
            }
        }
    }


    
}
