.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    input{
        width: 50%;
        height: 40%;
        border: solid 2px #0B253E;
        border-radius: 25px;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: 600;   
    }
    input::placeholder {
        color: #0B253E; 
    }
}

.search-button{
    width: 60px;
    height: 60px;
    background-color: hsl(209, 70%, 14%);
    border-radius: 30px;
    margin-left: 10px;
    .fa-search{
        color: white;
        font-size: 1.5rem;
    }
}

.weather-container{
    width: 85%;
    height: 50vh;
    display: flex;
    margin: 3rem auto;
    background: linear-gradient(to bottom, #ededed, #efe9ef, #f7e4ea, #fedfde, #ffddcd, #ffdbbf, #fcdab1, #f3dba4, #f4d794, #f6d283, #f7ce72, #f8c961);
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    img{
        height: 80%;
    }
    .info-weather{
        height: 80%;
        width: 50%;
        padding: 1.5rem;

        .cont{
            margin-top: 10px;
            margin-bottom: 10px;
            .sky{
                margin-left: 20px;
                padding: 15px 0;
                width: 45%;
            }
        }

        ul{
            list-style: none;
            margin-top: 10px;
            width: 80%;
            justify-content: space-between;
            li{
                font-size: 1.2rem;
                font-weight: 400;
                p{
                    font-size: 1.2rem;
                    font-weight: 600;
                    margin-left: 5px;
                }
            }
        }  
    }

    #city{
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    #temperature{
        font-size: 5rem;
        font-weight: 600;
        
    }
}



 /*Responsive design*/
 @media screen and (max-width: 768px){

    .weather-container{
        flex-direction: column;
       
        img{
            height: 30%;
        }
        .info-weather{
            width: 90%;
            height: 60%;
            padding: 0;
            font-size: 0.2 rem;

            #city-country{
                font-size: 1.2rem;
                margin: 5px auto;
                text-align: center;

            }
            .cont{
                align-items: center;
                justify-content: center;

                .sky{
                    width: 50%;
                    padding: 0;

                    #status{
                        font-size: 1.3rem;
                    }
                    #feels-like{
                        font-size: 1.3rem;
                    }
                }
            }

            #max-temp{
                font-size: 1rem;
                padding-left: 30px;
            }
        
            ul{
                width: 100%;
                flex-direction: column;

                li{
                    font-size: 1rem;
                    padding: 2px 30px;
                    p{
                        font-size: 1rem;
                    }
                }
            } 
           
            #temperature{
                font-size: 2.5rem;
                font-weight: 600; 
            } 
        }

    }

    .search-button{
        width: 40px;
        height: 40px;
        .fa-search{
            font-size: 1rem;
        }
    }

    .search-bar{
        input{
            width: 70%;
            height: 30%;
            font-size: 0.77rem;
        }
    }

}